<div class="container">
  <h1 class='skills__title'>Skills</h1>
</div>
<div class='skills__bg'>
  <div class="container">
    <% @skills.each do |skill|%>
      <div>
        <p> <%= skill.name %>
        <% if current_user.id == @user.id %>
          <%= link_to 'X', skill_path(skill), method: :delete ,data: {confirm: "Are you sure ?"}%></p>
        <% end %>
      </div>
    <% end %>
    <% if current_user.id == @user.id %>
      <%= link_to 'new', new_skill_path(current_user.id)%>
    <% end %>
  </div>
</div>
