<h1>Skills <%= @user.name %> </h1>
<% @skills.each do |skill|%>
  <div>
    <p> <%= skill.name %> <%= link_to 'X', skill_path(skill), method: :delete ,data: {confirm: "Are you sure ?"}%></p>
  </div>
<% end %>
<% if current_user.id == @user.id %>
  <%= link_to 'new', new_skill_path(current_user.id)%>
<% end %>
