<h1>Social networks <%= @user.name %> </h1>
<% @social_network.each do |network| %>
  <div>
    <%= link_to network.network , network.url, target: "_blank" %>
    <% if current_user.id == @user.id %>
      <%= link_to 'X', social_network_path(network), method: :delete ,data: {confirm: "Are you sure ?"}%>
    <% end %>
  </div>
<% end %>
<% if current_user.id == @user.id %>
  <%= link_to 'add', new_social_network_path(current_user.id)%>
<% end %>