<h1>profiles#feed</h1>
<p>Find me in app/views/pages/feed.html.erb</p>

<% if @profile.nil? %>
  <%= link_to current_user.name, new_profile_path%>
  <% else %>
  <%= link_to current_user.name, profile_path(current_user.id)%>
<% end %>
