<h1>profiles#feed</h1>
<p>Find me in app/views/pages/feed.html.erb</p>

<% if @profile.nil? %>
  <%= link_to @currentUser.name, new_profile_path%>
  <% else %>
  <%= link_to @currentUser.name, profile_path(@currentUser.id)%>
<% end %>
