<% if resource.errors.any? %>
  <div id="error_explanation">
    <h2 class="newForm__title"> Errors </h2>
    <ul class="newForm__errors">
      <% resource.errors.full_messages.each do |message| %>
        <li> <span><%= message %></span> </li>
      <% end %>
    </ul>
  </div>
<% end %>
