// background color is the same as the text inputs
$background_color: #DAD7D4;
// profile about me shares feed card color
$feed_card: #96ABAF;
// footer shares the header color
$header_color: #434242;
// log in share the modal color
$modal_color: #6E7678;
// skill div shares search card color
$search_card: #b3dbffa4;
$tag: #96E376;

// buttons
$button_color: #608BB1;
$button_edit: #B6DDFF;
$button_sign_color: #96ABAF;

// font
$color_black: #000000;
$color_white: #FFFFFF;
$poppins: 'Poppins', sans-serif;
