.feed{
  display: grid;
  grid-template-columns: .50fr 1.50fr;

  .user{
    background-color: $feed_card;
    height: 16rem;
    margin-left: 15rem;
    width: 16rem;

    h4{
      font-size: 1.7rem;
      margin-bottom: 1rem;
      text-align: center;
    }

    h3{
      @extend h4;
      font-size: 2.2rem;
      margin-top: 3rem;
    }
  }

  .profile{
    background-color: $feed_card;
    border-radius: 2rem;
    display: grid;
    font-size: 1.7rem;
    grid-template-columns: 1.25fr .75fr;
    margin-bottom: 5rem;
    margin-left: 5rem;
    width: 80%;

    &__name{
      margin-left: 2rem;
      margin-top: 2rem;

      h4{
        font-size: 2.2rem;
      }
    }

    &__city{
      margin: 2rem 2rem;
      text-align: right;
    }

    &__description{
      margin-left: 2rem;
      margin-top: 1rem;
    }
  }
}

