
.newForm {
  margin: 2rem auto;
  max-width: 65rem;
  width: 95%;

  &__title{
    text-align: center;
  }

  &__label {
    color: $color_white;
    font-size: 1.8rem;
  }

  &__input {
    font-size: 1.5rem;
    width: 100%;
    background-color: $background_color;
    border-style: none;
    padding: 0.5rem;
  }

  &__button {
    @extend .newForm__input;
    background-color: $button_color;
    box-shadow: 2.5px 2.5px 5px 0px rgba(0,0,0,0.75);
  }

  select {
    @extend .newForm__input;
  }

  textarea{
    height: 12rem;
  }

  &__bg {
    background-color: $modal_color;
    border-radius: 1.5rem;
    padding: 1.5rem;
    margin: 2rem 0;
  }

  &__gap {
    display: grid;
    gap: 1rem;
  }

  &__col {
    display: grid;
    gap: 0.5rem;
  }

  &__row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  &__location {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5rem;
  }

  &__errors {
    display: grid;
    gap: 0.5rem;
    margin-top: 1rem;
    list-style: none;
    li {
      font-size: 1.5rem;
      span {
        margin-left: 1.5rem;
      }
    }
  }

  &__errors li::before{
    content: "\2022";
    color: red;
    font-weight: bold;
    display: inline-block;
    width: 1rem;
  }
}
