.__content {
  background-color: $background_color;
  margin-top: 10%;

  .mid{
    text-align: center;
    display: grid;
    font-family: $poppins;
    gap: 3rem;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    max-width: 80rem;

    .login{
      background-color: $modal_color;
      border-radius: 1.5rem;
      padding: 2rem;
      display: grid;
      gap: 2rem;

      div{
        display: grid;
        gap: 1rem;
      }
      &__label{
        color: $color_white;
        font-size: 2rem;
        text-align: left;
        padding-left: 0.25rem;
      }
      .input{
        background-color: $background_color;
        font-size: 2rem;
        height: 3.5rem;
        padding-left: 1rem;
        border: none;
      }

      .button{
        background-color: $button_color;
        color: $color_white;
        height: 3.5rem;
        font-size: 1.5rem;
        border: none;
      }
      a{
        .button__sigIn{
          background-color: $feed_card;
          color: $color_white;
          height: 3.5rem;
          font-size: 1.5rem;
          border: none;
          width: 100%;
        }
      }

      .forgot__yourPassword{
        color: $color_white;
        font-size: 1.3rem;
      }
    }

    .Text {
      align-items: center;
      display: grid;
      justify-content: center;
      padding: 1rem;

      div{
        p, h1{
          margin-bottom: 2rem;
          text-align: left;
        }
        h1{
          font-size: 3rem;
        }
        p{
          font-size: 2rem;
        }
      }
    }
  }
}
