.__content {
    background-color: $background_color;
    margin-top: 12.5%;
    text-align: center;
    .mid{
        display: grid;
        margin: 0 auto;
        grid-template-columns: 1fr 1fr;
        max-width: 50rem;
        gap: 2rem;
        .login{
            background-color: $modal_color;
            padding:1rem 0rem;
            border-radius: 5%;
            .input{
                margin: 1rem 0rem;
                border-radius: 5%;
            }
            .button{
                background-color: $button_color;
                padding: .5rem 6rem;
                color: $color_white;
                border-radius: 5%;
            }
        }
        .Text {
            display: grid;
            align-items: center;
            justify-content: center;
            padding: 1rem;
            div{
                p, h1{
                    margin-bottom: 2rem;
                    text-align: left;
                }
                

            }
        }
    }
}


