.header-nav {
  align-content: center;
  background-color: $header_color;

  .bar {
    display: flex;
    font-size: 2rem;
    justify-content: space-between;
    padding: 1.5rem;

    .tittle {
      font-size: 3rem;
    }

    .logout {
      font-size: 2.5rem;
    }

    a {
      color: $color_white;
      text-decoration: none;
    }

    .flex{
      display: flex;
      gap: 3rem;
    }
    .div{
      display: grid;
      grid-template-columns: 4fr 2fr 1fr;
      gap: 0.1rem;
    }

    .input_search {
      background-color: $background_color;
      border-style: none;
      border: 1px solid $header_color;
    }

    select {
      @extend .input_search;
      border-style: none;
      border: 1px solid $header_color;
    }

    .button_search {
      @extend .input_search;
      background: url(search.svg);
      background-color: $background_color;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 3rem;
      border-style: none;
      border: 1px solid $header_color;
    }
  }
}
