.networks {
  &__title {
    color: $color_black;
    margin: 0;
  }

  &__title--first {
    @extend .networks__title;
    margin-top: 2rem;
    text-align: center;

    a {
      color: $color_black;
      text-decoration: none;
    }

    a:hover {
      color: $hover;
    }
  }

  &__line {
    background-color: $color_black;
    height: 0.1rem;
    margin-bottom: 2rem;
    width: 100%;
  }

  .line {
    align-items: center;
    display: flex;
    gap: 3rem;
    margin: 3rem 0 4rem 0;
  }

  &__container {
    align-items: center;
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
  }

  .network {
    align-items: initial;
    display: flex;
    justify-content: center;

    &__bg {
      align-items: center;
      border-radius: 1.5rem;
      display: flex;
      justify-content: center;
      width: 11.5rem;
    }

    .Facebook {
      background-color: #3a5795;
    }

    .Instagram {
      background-color: #894699;
    }

    .Twitter {
      background-color: #0fa6e8;
      padding: 0 1rem;
    }

    .LinkedIn {
      background-color: #1b7cb3;
    }

    &__logo {
      height: 11.5rem;
    }

    &__delete {
      margin-top: -3rem;
      width: 2rem;
    }
  }
}
