.networks {
  &__title {
    color: $color_black;
    margin: 2rem 0;
  }

  &__title--first {
    @extend .networks__title;
    text-align: center;
    margin-top: 2rem;
    a {
      color: $color_black;
      text-decoration: none;
    }

    a:hover {
      color: $hover;
    }
  }

  &__line {
    width: 100%;
    height: 0.1rem;
    background-color: $color_black;
    margin-bottom: 2rem;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
  }

  .network {
    display: flex;
    justify-content: center;
    align-items: initial;

    &__bg{
      width: 11.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 1.5rem;
    }

    .Facebook {
      background-color: #3a5795;
    }

    .Instagram {
      background-color: #894699;
    }

    .Twitter {
      background-color: #0fa6e8;
    }

    .LinkedIn {
      background-color: #1b7cb3;
    }

    &__logo {
      height: 11.5rem;
    }

    &__delete {
      width: 2rem;
      margin-top: -3rem;
    }
  }
}
