.skills{
  &__title {
    color: $color_black;
    margin: 1rem 0 0 0;
  }

  &__line {
    width: 100%;
    height: 0.1rem;
    background-color: $color_black;
    margin-bottom: 2rem;
  }

  &__title--first {
    @extend .skills__title;
    display: flex;
    justify-content: center;
    a {
      color: $color_black;
      text-decoration: none;
    }

    a:hover {
      color: $hover;
    }
  }

}
