@import "bootstrap/scss/bootstrap";
@import "./base/variables.scss";

@import "./components/login";

 html, body {
  background-color: $background_color;
  margin: 0;
  width: 100%;
  font-family: $poppins;
}